@page "/about"

<div class="mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-lg-6 col-xl-4 page-container">
            <h1 class="mb-3 text-danger">About</h1>
            <div>
                <p>Ai Chef is a web application that allows users to retrieve Ai generated meal recipes based on a list of ingredients the user provides.</p>
                <p>The app was built with Blazor Web Assembly and OpenAI API. 
                    Please visit <a href="https://learn.coderfoundry.com/" target="_blank">Coder Foundry</a> to learn how to build this app.
                </p>
            </div>
            <div class="container">
                <div class="row text-center align-items-center mt-4">
                    <div class="col px-2">
                        <img src="./images/icons/dotnet-logo.jpg" style="max-height:100px;" />
                    </div>
                    <div class="col px-2">
                        <img src="./images/icons/BrandBlazor_nohalo_1000x.png" style="max-height:100px;" />
                    </div>
                    <div class="col px-2">
                        <img src="./images/icons/OpenAI_Logo.svg" style="max-height:100px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
