@page "/about"

<div class="mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-lg-6 col-xl-4 page-container">
            <h1 class="mb-3 text-danger">About</h1>
            <div>
                <p>Text...</p>
            </div>
            <div class="row">
                <div class="col">
                    <img src="./images/icons/BrandBlazor_nohalo_1000x.png" style="width:100%"/>
                </div>
                <div class="col">
                    <img src="./images/icons/OpenAI_Logo.svg" style="width:100%" />
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
