@page "/mealideas"
@using AiChef.Shared
@inject NavigationManager navigationManager;

@if (loaded)
{

    <div class="container">
        <h3 class="mt-5">Choose a meal to make</h3>
        <div class="list-group">
            @foreach (var idea in ideas)
            {
                <button class="list-group-item list-group-item-action list-group-item-success p-2">
                    <div class="d-flex w-100 justify-content-sm-between">
                        <h2 class="mb-1 fw-bold">@idea.Title</h2>
                        <p class="mb-1">@idea.Description</p>
                    </div>   
                </button>
            }
        </div>
    </div>

}
else
{
    <div class="container">
        <h3>RecipeState Values</h3>
        <p>@recipeState.MealTime</p>
        @foreach (var item in recipeState.Ingredients)
        {
            <p>@item.Description</p>
        }
    </div>
}

@code {
    private List<RecipeIdea> ideas = new List<RecipeIdea>();
    private bool loaded = false;
    
    [CascadingParameter]
    private RecipeState recipeState { get; set; }

    protected override void OnInitialized()
    {
        if (recipeState is null)
        {
            navigationManager.NavigateTo("/", forceLoad: true);
            return;
        }




    }

}
