@page "/mealrecipe/{Index:int}"
@using AiChef.Shared
@using System.Text.Json
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<div class="container mt-5">
    <h1>Meal Recipe</h1>
    <p>Idea Index = @index</p>
    <p>Recipe title = @title</p>
</div>





@code {

    [CascadingParameter]
    private RecipeState? recipeState { get; set; }

    [Parameter]
    public int index { get; set; }

    private string title;

    protected override void OnInitialized()
    {
        title = recipeState.RecipeIdeas.FirstOrDefault(i => i.Index == index).Title;
    }

}
