@inherits LayoutComponentBase

<TopNavMenu></TopNavMenu>
<main>
    @Body
</main>
<footer class="p-3 text-center text-white mt-3">
    <a href="http://www.jonathankay.dev" target="_blank">&copy; Jonathan Kay 2023</a>
</footer>

@code {

}
