@inherits LayoutComponentBase

<TopNavMenu></TopNavMenu>
<main class="pb-sm-3">
    @Body
</main>
<footer class="p-3 text-center">
    <a href="http://www.jonathankay.dev" target="_blank">&copy; Jonathan Kay 2023</a>
</footer>

@code {

}
